@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Gochi+Hand&family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  background: #1E1F28;
  color: #DCD7BA;
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
  margin-right: 500px;
}

header {
  background: #16161D;
  border-bottom: 2px solid #54546D;
  display: flex;
}


header h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 24px;
}

.game {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.game h2 {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-bottom: 32px;
}

#game {
  position: relative;
  width: 500px;
  height: 400px;
  background: #16161D;
  border: 3px solid #54546D;
  border-radius: 10px;
  overflow: hidden;
}

.fruit,
.worm {
  position: absolute;
  top: 0px;
  left: 100px;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s ease-in, top 18ms;
}

.fruit:active {
  transform: scale(0.8);
}

#result {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

/***********************************************
 * 1.2. Шаг «Дополнительные задачи»
 *   1.2.1. Тестирование «Задачи на урок»
 *     2. Задача «Обратный отсчёт» -- 4 мин
 **********************************************/
#info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

#score,
#timer {
  font-size: 18px;
  font-weight: bold;
}

#startBtn {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  background: #6A9589;
  color: #16161D;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

#startBtn:hover {
  background: #7AA89F;
}

  
/* Общие стили */
body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
}

h1, h2, h3, label, p {
  color: #fff;
}

header {
  background-color: #222;
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #444;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

/* Стили для светлой темы */
body.light-theme {
  background-color: #fff;
  color: #000;
}

body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme label,
body.light-theme p {
  color: #000;
}

body.light-theme header {
  background-color: #eee;
}

body.light-theme footer {
  background-color: #f0f0f0;
}







.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: sans-serif;
  resize: vertical;
  color: #000;  
  background-color: #fff; 
}

body.light-theme .form-group textarea{
    color:#000;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


